apiVersion: apps/v1
kind: Deployment
metadata:
  name: llama-3b
  labels:
    app: llama-3b
spec:
  replicas: 1
  selector:
    matchLabels:
      app: llama-3b
  template:
    metadata:
      labels:
        app: llama-3b
    spec:
      nodeSelector:
        nvidia.com/gpu.product: NVIDIA-A30
      containers:
        - name: vllm
          image: vllm/vllm-openai:latest
          args:
            - "--model"
            - "meta-llama/Llama-3.2-3B-Instruct"
            - "--max-model-len"
            - "4096"
            - "--port"
            - "8000"
          ports:
            - containerPort: 8000
          env:
            - name: HUGGING_FACE_HUB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: litellm-secret
                  key: HF_TOKEN
          resources:
            limits:
              nvidia.com/gpu: "1"
