apiVersion: apps/v1
kind: Deployment
metadata:
  name: litellm-proxy
  labels:
    app: litellm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: litellm
  template:
    metadata:
      labels:
        app: litellm
    spec:
      containers:
        - name: litellm
          image: ghcr.io/berriai/litellm:main
          ports:
            - containerPort: 4000
          envFrom:
            - configMapRef:
                name: litellm-config
          env:
            - name: LITELLM_MASTER_KEY
              valueFrom:
                secretKeyRef:
                  name: litellm-secret
                  key: LITELLM_MASTER_KEY
            - name: LITELLM_CONFIG
              value: /etc/litellm/config.yaml
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: litellm-secret
                  key: DATABASE_URL
            - name: UI_USERNAME
              valueFrom:
                secretKeyRef:
                  name: litellm-secret
                  key: UI_USERNAME
            - name: UI_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: litellm-secret
                  key: UI_PASSWORD
          volumeMounts:
            - name: litellm-config
              mountPath: /etc/litellm/config.yaml
              subPath: config.yaml
      volumes:
        - name: litellm-config
          configMap:
            name: litellm-config
