apiVersion: v1
kind: Service
metadata:
  name: litellm-service
  labels:
    app: litellm
spec:
  type: NodePort
  selector:
    app: litellm
  ports:
    - name: http
      port: 4000
      targetPort: 4000
      nodePort: 30400
